<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0" />
<link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='css/search.css') }}">

<form class="search-box" action="{{ url_for('weather')}}" method="post" enctype="multipart/form-data">
  <button style="background: none; border: none; padding: 0"><span style="font-size: 30px; vertical-align: -1px; color: #9B9B9B" class="material-symbols-outlined">search</span></button>
  <input style="vertical-align: 4px; width: 255px;" type="search" name="city" placeholder="Enter city name" id="search-input" value="">
</form>