<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="widget">
            
            <div class="left-panel panel">
                <div class="date">
                    {{date}}
                </div>
                <div class="city">
                    {{city}}
                </div>
                <div class="temp">
                   <!-- <img src="https://codefrog.tech/cp/wp/ts.png" alt="" width="60"> -->
                   {{temp}}&deg;
                </div>
            </div>
            <div class="right-panel panel">
                <!-- <img src="https://codefrog.tech/cp/wp/mumbai.png" alt="" width="160"> -->
            </div>

        </div>
    </body>
</html>
